

.giving{
  // width: 100vw;
    .top{

      
      height: 80vh;
      // width: 100%;
       background:  url("../../assets/giving.jpg") center;
       background-size: cover;
       background-position: center;
      
    
     display:flex ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      @media screen {
        
        height: 60vh;
       }

      .title{
        font-size: 50px;
        font-weight: bold;
        color: white;
        letter-spacing: 3px;

        @media screen {
        
          font-size: 24px;
         }
  
        
      }

      .desc{
        text-align: center;
        color: white;
        padding: 20px 50px;
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 2px;
        font-weight: 200;

        

         @media screen and (max-width: 780px) {
        
          text-align: center;
          font-size: 16px;
            
         }
  
  
      }

      button{
        padding: 15px 30px;
        background-color: rgb(104, 6, 25);
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
    
    }

   

    

    .ussd{
      
      height: 150px;
     // background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 50px;
        font-weight: 300;
      }

        
    
      
    }

    .banks{
      height: 55vh;
     // background-color: pink;
      display: flex;
      @media screen and (max-width: 480px) {
        
        justify-content: space-around;
         
       }


      .left, .right{

       // background-color: aqua;
         // align-items: center;
       height: 100%;

        //background-color: black;
        flex: 1;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 480px) {
        
          justify-content: center;
           
         }
  
        
        .card{
          border: none;
         // align-items: center;
          width: 90%;
          display: flex;
        // background-color: white;
          height: 100px;
          @media screen and (max-width: 480px) {
        
            width: 80%;
           // background-color: black;
            align-items: center;
           justify-content: space-around;
           margin-left: 30px;
             
           }
    
          img{
            height: 100px;
            width: 100px;
            @media screen and (max-width: 480px) {
        
              height: 30px;
               width: 30px;
             }
      
           // align-self: flex-end;
          }
        //  flex: 1;

        .ussdcode{
          flex: 2;
          margin-left: 20px;
         width: 60%;
         
          height: 100px;
          display: flex;
        // align-items: center;
          //justify-content: center;
          flex-direction: column;
          padding-top: 10px;

          @media screen and (max-width: 480px) {
        
            align-items: center;
             justify-content: center;
           }
    

          .items{
            display: flex;
            color: gray;
           // background-color: black;
        .itemKey{
          margin-right: 10px;
          font-weight: bold;
          @media screen and (max-width: 480px) {
        
            margin-right: 2px;
            font-size: 10px;
            
           }
    
        }
          .itemValue{
            @media screen and (max-width: 480px) {
        
              font-size: 10px;
               
             }
      
          }

            
          }
        }
        }
        
      
      }
      .right{
        flex: 1;


      }
    }

    .call{
      
      height: 150px;
     // background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        color: rgb(6, 148, 205);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        @media screen {
        
          font-size: 18px;
         }
  
      }

    }


    .accnum{
      
      height: 70px;
    // background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 480px) {
        
        height: 40px;
         
       }

      h1{
        
        font-size: 50px;
        font-weight: 300;
        color: rgb(54, 49, 49);
       // text-align: center;
       @media screen {
        
        font-size: 30px;
       }

      

      }

    }

}