.datatable{
   flex: 10;
   // width: 100%;
    height: 600px;
    padding: 20px;

    .cellAction{
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            font-weight: 600;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.268);
            cursor: pointer;
        }
    }
}