.workerformz{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
   

    .top{

       // width: 50%;
       margin-bottom: 30px;
       border-radius: 10px;
       padding: 0px 20px;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        @media screen and (max-width: 480px) {
            padding: 0px 5px;
            
      }
        
        h1{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #27213c;
            @media screen and (max-width: 780px) {
                font-size: 20px;
            }

            
        @media screen and (max-width: 480px) {
            width: 400px;
            padding: 0px 5px;
            
      }
        }
    }

    .bottom{
        display: flex;
        
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        @media screen and (max-width: 780px) {
            flex-direction: column;
        }
        .left{
            flex: 1;
            width: 100%;
            padding: 30px;
            img{
                min-width: 250px;
                height: 300px;
               // object-fit: cover;

                @media screen and (max-width: 780px) {
                    
                    width: 280px;
                    height: 280px;
                   // object-fit: cover;
            }
            }
        }

        .right{
            display: flex;
            align-items: center;


            @media screen and (max-width: 780px) {
                font-size: 24px;
                justify-content: center;
            }






            flex: 2;
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 5px;
                width: 400px;
                @media screen and (max-width: 780px) {
                    
                    justify-content: center ;
                    flex-direction: column;
                   margin-left: 70px;
                    }
    
                .formInput{
                    width: 40%;
                    @media screen and (max-width: 780px) {
                        width: 60%;
                        
                        
                    }

                    input{
                        width: 100%;
                        padding: 10px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid gray;
                        color: black;
                        &::placeholder{
                            font-size: 12px;
                        }
                    }

                    label{
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        gap: 10px;

                        @media screen and (max-width: 780px) {
                            margin-bottom: 3px;
                            font-size: 14px;
                            font-weight: 600;
                         }
                    }

                   
              
                }

                button{
                    margin-top: 20px;
                    padding: 10px;
                    background-color: #27213c;
                    color: white;
                    width: 150px;
                    cursor: pointer;
                    @media screen and (max-width: 780px) {
                        margin-bottom: 10px;
                        font-size: 14px;
                       padding: 0px 0px;
                    
                     }
                
                }
            }

        }

        
    }

    
}