.login{
    display: flex;
    width: 100%;

.loginContainer{
flex: 6;
// background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../../assets/moviesb.jpg") center;
// background-size: cover;
// background-position: center;




.loginform{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


h1{
  color: white;
  margin-bottom: 20px; 
  font-size: 30px;
  border: none;
  background-color: rgb(40, 22, 105);
  border-radius: 5px;
  padding: 10px;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
   height: 30px;
   width: 300px;
   outline: none;
   font-size: 16px;
  }

  button {
   padding: 5px;
   width: 300px;
   border: none;
   background-color: rgb(40, 22, 105);
   color: white;
   cursor: pointer;
   font-size: 20px;
  }

   span {
    color: red;
    margin-top: 10px;
    text-align: center;
   }

  
}

}
}

}