.navbar{
    display: flex;
   // align-items: center;
     height: 100px;
    width: 100%;
    background-color: crimson;
  // background-color: rgb(22, 22, 134);



    
    .wrapper{
        width: 100%;
        padding: 10px;
        display: flex;
       align-items: center;
        justify-content: center;
       z-index: 999;

        .logo{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            @media screen and (max-width: 780px) {
               .logo{
                display: flex;
                position: absolute;
                top: 15px;
                left: 35px;
               }
            }
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-bottom: 5px;

            }
            .logotext{
                font-size: 16px;
                font-weight: bold;
                color: violet;
            }
        }

        .nav-links, .nav-links-mobile {
            flex: 8;
            margin: 0; 
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center ;
            @media screen and (max-width: 780px) {
             display: none;
               

           }
           
            
           


           
        li{
            display: flex;
            align-items: center;
            justify-content:center ;
            margin-right: 20px;
            font-size: 16px;
            font-weight: 200;
            color: white;
            cursor: pointer;
            border-right: 1px solid gray;
            padding-right: 10px;
            height: 40px;

        


            &:hover{
               padding-bottom: 10px;
              // border-bottom: 1px solid gray;
               
            }

            @media screen and (max-width: 780px) {
              
            }

            @media screen and (max-width: 780px) {
                
                color: white;
                text-align: center;
               // border-bottom: 0.5px solid white;
                justify-content: center;
                padding: 5px;
                width: 100%;
                transition: all 0.5s ease;
                font-weight: 400;

                
        
           }


               
            

        }
              
        }

        .nav-links-mobile{
            @media screen and (max-width:780px) {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                width: 75%;
            }

           

            @media screen and (max-width: 780px) {
               position: absolute;
                display: block;
                
                list-style: none;
                background-color: rgb(29, 2, 29);
                left: 0;
                top: 100px;
                transition: all 0.5s ease-out;
                width: 100%;
        
                //z-index: 999;
                
           }
            
        }

        


        .search{
        
                display: flex;
                align-items: center;
                border: 1px solid white;
                padding: 3px;
                border-radius: 5px;

                @media screen and (max-width: 780px) {
                      display: none;
                }

                input{
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: white;
                    margin-left: 3px;


                    &::placeholder{
                        font-size: 12px;
                        color: white;
                    }
                    
                
                }

               }

               .mobile-menu-icon{
                display: none;

                @media screen and (max-width: 780px) {
                     display: block;
                      position: absolute;
                      font-size: 30px;
                      color: white;
                      top: 15px;
                      right: 25px;
                    
                      
                }
               }
    }
}