.buildself{
    .top{

      
        height: 80vh;
        // width: 100%;
         background:  url("../../assets/formfill2.jpg") center;
         background-size: cover;
         background-position: center;
      
       display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
  
        .title{
          font-size: 50px;
          font-weight: bold;
          color: rgb(2, 2, 95);
          letter-spacing: 3px;
          
        }
  
        .desc{
          text-align: center;
          color: rgb(2, 2, 77);
          padding: 20px 50px;
          font-size: 20px;
          letter-spacing: 2px;
          word-spacing: 2px;
          font-weight: 400;
        }
  
        .logo{
            width: 100px;
            width: 100px;
        }
      
      }

      .workersvid{
        display: flex;
        align-items: center;
      
        height: 60vh;
        padding: 40px;
        .vidleft{
          padding: 10px;
           flex: 1;
          
        }

        .textright{
          padding: 10px;
            flex: 1;
            
            .heading{
              font-size: 30px;
              font-weight: bold;
              margin-bottom: 10px;
              color: rgb(2, 2, 95);

            }

            .desctext{
              font-size: 23px;
              font-weight: 200;
              color:  rgb(2, 2, 95);
            }

            button{
              margin: 10px;
              padding: 10px;
              border-radius: 5px;
              color: white;
              border: none;
              background-color: rgb(2, 2, 95);
              cursor: pointer;
              font-size: 18px;

            }

        }
    }
}