.abouttext{
    
   background-color: rgb(213, 181, 181); 
   // width: ;
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(218, 192, 192);
    overflow: hidden;

    @media screen and (max-width: 480px) {
        
        padding: 0px;
        gap: 5px;
        
        
       }

    .title{
        
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 20px;

        @media screen and (max-width: 480px) {
        
           font-size: 18px;
           letter-spacing: 0px;
           //word-spacing: 2px;
            
            
           }
    }

    .desc{
        
        text-align: center;
        font-size: 18px;

        @media screen and (max-width: 480px) {
        
            font-size: 16px;
            padding: 20px;
            
            
           }
    }

    hr{
        border: 0.5px solid rgb(115, 105, 105);
        width: 70%;
    }
    
}